#services:
#  postgres:
#    image: 'postgres:latest'
#    environment:
#      - 'POSTGRES_DB=mydatabase'
#      - 'POSTGRES_PASSWORD=secret'
#      - 'POSTGRES_USER=myuser'
#    ports:
#      - '5432'


services:
  postgres:
    container_name: personal-finance-db
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_DB: personal_finance
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: finance123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: